.toDoList
  width 400px
  height 500px

  margin 0 auto

  .toDoList__header
    text-align center
    font-weight normal

  .toDoList__body
    padding 0

    .toDoList__item
      word-wrap break-word

  .toDoList__input
    .submitButton
      margin 10px
      float right